.work-container {
    position: relative;
    width: 100% !important;
    height: 100vh !important;
    background-color: green;
}

.ui.container.work-container {
    margin: 0px !important;
}

.working-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
    height: 100vh;
}

.working-card{
    position: relative;
    width: 30%;
    height: 60%;
    margin: 50px;
    border-radius: 5%;
    box-shadow: 0 0 10px 4px rgb(240, 239, 239);
    background-color: rgb(255, 255, 255)
}

.working-card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 4px rgb(228, 227, 227);
} 

.working-card:active {
    box-shadow: 0 0 10px 4px rgb(207, 207, 207);
}

.pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.work-desc {
    position: absolute;
    bottom: 0;
    padding: 5%;
}

@media only screen and (max-width: 925px) {
    .working-card {
        margin: 30px;
    }
}

@media only screen and (max-width: 841px) {
    .working-card {
        margin: 20px;
        width: 50%;
    }
}

@media only screen and (max-width: 618px) {
    .working-group {
        display: block;
        padding-top: 1%;
    }

    .working-card {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 45%;
    }
}