.grid-work {
    border: dimgrey 1px solid;
    border-radius: 20px;
}

.work-container {
    margin-left: 5% !important;
}

.job-description {
    padding-left: 2% !important;
}

.row {
    padding-left: 1% !important;
    padding-right: 1% !important;
}