/* .grid-work {
    border: dimgrey 1px solid;
    border-radius: 20px;
}

.work {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    z-index: 1;
}

.work-container {
    position: relative;
    transform: translateY(25%);
}

.job-description {
    padding-left: 2% !important;
}

.row {
    padding-left: 1% !important;
    padding-right: 1% !important;
} */