.grid-work {
    border: dimgrey 1px solid;
    border-radius: 20px;
}

.left {
    /*background-color: red;*/
}

.check {
    /*background-color: bisque;*/
}

.work-container {
    margin-left: 5% !important;
}

.job-description {
    padding-left: 2% !important;
}