@font-face {
  font-family: 'Alex';
  src: local('Alex'), url(./assets/fonts/AlexBrush-Regular.ttf) format('truetype');
}

.home-header {
  text-align: center !important;
  font-family: Alex, serif !important;
  font-size: 6em !important;
  padding-top: 3% !important;
  font-weight: normal !important;
}

.main-menu-container {
  padding-bottom: 3% !important;
}

.main-menu {
  margin: auto !important;
  position: relative;
  left: 50% !important;
  transform: translateX(-50%);
}

.home-content {
  min-height: 50vh;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.home-footer {
  margin-top: 5% !important;
  /*background-color: red;*/
}
