@font-face {
  font-family: 'Alex';
  src: local('Alex'), url(./assets/fonts/AlexBrush-Regular.ttf) format('truetype');
}

.home-header {
  text-align: center !important;
  font-family: Alex, serif !important;
  font-size: 6em !important;
  padding-top: 3% !important;
  font-weight: normal !important;
}

.main-menu-container {
  padding-bottom: 3% !important;
}

.main-menu {
  margin: auto !important;
  position: relative;
  left: 50% !important;
  transform: translateX(-50%);
}

.home-footer {
  display: inline-flex !important;
  position: fixed;
  bottom: 0;
  left: 10%;
  padding-bottom: 2%;
  width: 80% !important;
}