.nav {
  background-color: white;
  transition: all 0.1s linear;
  position: fixed;
  z-index: 2000;
  padding: 10px 10px 0 10px;
  width: 100vw;
}

.scrollNav {
  z-index: 2000;
  background: white;
  width: 100vw;
}

.styl {
  padding-top: 80px;
}